<!DOCTYPE html>
<!-- Bruce Turner, Professor Ostrander, Spring 2019 -->
<!-- IT 328 Full Stack Web Development -->
<!-- Dating 2 Assignment -->
<!-- file: views/perinfo.html -->
<!-- date: April 20 2019 -->
<html lang="en">
<head>
     <meta charset="UTF-8">
     <title>My Dating II Site</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>
<body>
<nav class="navbar navbar-expand-sm  navbar-default">
     <a class="navbar-brand" href="#">My Dating Website</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span>
     </button>
</nav>
<div class="container border mt-4">
     <div class="row ml-2">
          <div class="col-sm-12">
               <h1>Personal Information</h1>
          </div>
     </div>
     <form class="form-group" method="post" action="#">
          <div class="row ml-2">
               <div class="col-sm-8">
                    <strong>First Name</strong><br>
                    <label class="form-control-label" >
                         <input id="fname" class="form-control" type="text" name="fname" value="Sarah">
                    </label><br>
                    <strong>Last Name</strong><br>
                    <label class="form-control-label" >
                         <input id="lname" class="form-control" type="text" name="lname" value="Smith">
                    </label><br>
                    <strong>Age</strong><br>
                    <label class="form-control-label" >
                         <input id="age" class="form-control" type="number" name="age" value="30">
                    </label><br>
                    <strong>Gender</strong><br>
                    <label><input type="radio" name="gender" value="male">Male</label>
                    <label><input type="radio" name="gender" value="female"checked>Female</label><br>
                    <strong>Phone Number</strong><br>
                    <label>
                         <input id="phone" class="form-control" type="tel" name="phone" value="222-333-4444"><br>
                    </label>
               </div> <!-- end row#1 col one-->
               <div class="col-sm-4">
                    <div class="container border mt-4" style="background-color:lightgrey">
                    <p class="bg-light"><strong>Note: </strong>All information entered is<br>protected by our <span style="color:lightskyblue">privacy policy</span>.<br>
                         Profile information can only be<br> viewed by others with your permission.</p>
                    </div>
               </div>
          </div> <!-- end row#1 -->
          <form action="views/profile.html" method="post">
             <div id="btn" class="container text-md-right pb-2">
               <form action="views/profile.html" method="post">
                    <button  class="btn-primary btn-sm rounded" type="submit">Next ></button>
               </form>
             </div>
          </form>
     </form>
</div> <!-- close main container -->
</body>
</html>